*{
    margin: 0;
    padding: 0;
}
/*index*/
.contain{
    background-color: aquamarine;
    height: 87vh;
    text-align: center;
    padding: 250px;
}
.navbar{
    background-color: black;
    height: 50px;
    color: aliceblue;
}
.bon{
    font-size: 30px;
    border-radius: 50px;
    height: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.side {
    width: 200px; 
    height: 87vh;
    background-color: #f8f9fa; 
     
}

  /* Style for the links */
.list-group-item {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-family: 'Arial', sans-serif; /* Set the font family */
    font-size: 20px; /* Set the font size */
    font-weight: normal; /* Set the font weight */
}

  /* Hover effect for the links */
.list-group-item:hover {
    color: #000000;
    background-color: #0461ad;
}


.container-fluid {
    padding: 20px; /* Add padding to the container */
  }

  .form1 {
    background-color: #0077cc; /* Set background color for the form1 div */
    color: #fff; /* Set text color for the form1 div */
    padding: 10px; /* Add padding to the form1 div */
    margin-bottom: 20px; /* Add space below the form1 div */
  }

  h2 {
    margin-bottom: 0; /* Remove default margin for h2 */
  }

  .container {
    margin-top: 20px; /* Add some space above the container */
  }

  .col-6 {
    margin-bottom: 15px; /* Add some space between the input fields */
  }

  label {
    font-weight: bold; /* Make labels bold */
    color: #004466; /* Set label color */
  }

  input {
    width: 100%; /* Make input fields 100% width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin-top: 5px; /* Add a small space above the input */
  }